body {
    font-family: 'Open Sans';
    margin: 0;
    
    
}
html ::-webkit-scrollbar {
    width: 10px;
    background: #000;
}
html ::-webkit-scrollbar-thumb {
    width: 10px;
    background: #c300ff98;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


.menu.icon {
    display: none;
    display: block;
}
.list{
    display: flex;
    text-justify: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    text-align: left;
}
main .avisos{
    
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1%;
    padding-right:1%;
   
    background: #f1f1f1;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-justify: center;
    border-top: 10px solid #0061181e;
    border-bottom: 10px solid #0061181e;
    border-left: 100px solid #0061181e;
    border-right: 100px solid #0061181e;
    
}
.avisos >.contenedor-sobre-nosotros >.contenido-textos{
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
    border-color: #00aeff;
    border-style: solid;
    border-width: 2px;
    align-self: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-justify: center;
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 2px;
    box-shadow: -1px 2px 8px 0 rgba(20, 85, 0, 0.8);
    text-shadow: #00ff40;


}
.avisos >.contenedor-sobre-nosotros >.contenido-textos> span{
padding: auto;
margin: auto;

}
.avisos >.contenedor-sobre-nosotros >.contenido-textos >span{
    padding: auto;
    margin: auto;
    font-size: 15px;
    }
.titl{
    background: #ae00ff;
    color: azure;
    display: cover;
    width: 100%;
    height: 100%;
    
    
}
.men {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
}

.sect{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: mediumvioletred;
}
.contaner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;


}

.logo-nav-container {
    align-items: left;
    margin-top: 0px;
    flex-wrap: wrap;
    margin-left: -10px;
    padding: 0px;
    font-size: 20px;

}

.sesion {
    align-items: right;
    text-align: right;
    margin: 0px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    margin: 0px;
}

button {
    width: 150px;
    height: 40px;
    color: #ffffff;
    background-color: #5900ff67;
    border: 1px solid #a200ff;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    margin: 0;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-right: 100px;
}

.navs {
    background: rgb(0, 0, 0);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12pz;
    margin-top: -32px;
    position: fixed;
    left: 0;
    top: 32;
    width: 100%;
    z-index: 999;

}

.wave-fix {
    margin-top: 40px;
    position: fixed;
    width: 100%;
    z-index: 998;
}

.logo-nav-container {
    margin-top: 20;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin-left: -50px;
    align-items: center;
    margin-left: 0px;
    left: 0;
    top: 74;
    flex-wrap: wrap;
}

.navigation ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-left: -100px;
}
.avisos ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
  

}
.avisos .poin{
    width: 70%;
    height: 70%;
    padding: 10px;
    text-align: center;
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    list-style: none;
}
.avisos img{
    width: 100%;
    height: 60%;
    padding: 10px;
    text-align: center;
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
}
.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 2rem;
}

.navigation ul li a:hover {
    background: #5900ff;
    color: #ffffff;
    transition: all 0.4s linear;
    border-radius: 10px;
}

.imag {
    width: 80px;
    height: 80px;
    margin: 0px;
    margin-left: 100px;
}

.sesion a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    align-items: right;
    text-align: right;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;

}

.header {
    padding: 2rem 0;
    margin: 0;
}

.header a {
    color: #ffffff;
    font-family: sans-serif;
    text-decoration: none;

}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

.camp {
    background-color: #919191;
    width: 100%;
    height: 100%;

}

.titulo {
    color: #ae00ff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* HEADER */



header {
    width: 100%;
    height: 500px;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #91009677, #000000), url(/imgs/skull-color-sketch-art-4k-5c-1360x768.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #91009677, #000000), url(/imgs/skull-color-sketch-art-4k-5c-1360x768.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0px;
}

nav {
    text-align: center;
    padding: 0;
    margin: 0;
}

nav>a {
    color: blanchedalmond;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-size: x-large;
}

nav>a:hover {
    color: rgb(153, 0, 255);
    text-decoration: underline;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0px;
}

.textos-header h1 {
    font-size: 50px;
    color: blanchedalmond;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: blanchedalmond;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;

}

/* ABOUT US */
main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span  {
    background: #ae00ff;
    color: azure;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */

.portafolio {
    background: #f1f1f1;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.icon {

    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 0;
}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(147, 91%, 27%, 0.603);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #00aeff;
    font-size: 20px;
    font-family: serif;
    text-shadow: #000000 -1px 1px 1px ;
    
} 
.hover-galeria img {
    width: 200px;
}

.hover-galeria p {
    color: white;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

.hover-galeria2 img {
    width: 200px;
}

.hover-galeria2 h2 {
    color: white;
    background-color: #120020;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
}

.imagen-port:hover .hover-galeria2 {
    transform: scale(1);
}

/* Clients */

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    margin-top: 25PX;
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    width: 60%;
    color: #f1f1f1;

}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

/* OUR TEAM */

.about-service {
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-cont img {
    
    object-fit:scale-down;
    border-radius:0%;
    display: block;
}
.servicio-ind {
    width: 28%;
    text-align: center;

}

.servicio-ind img {
    width: 90%;

}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
}

/* Footer */
footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #00ccff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #bbff00;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.content-foo a {
    color: #00ff22;
    text-decoration: none;
}

.content-foo a:hover {
    color: #00ccff;
    text-decoration: underline;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1456px) {
    .wave-fix {
        margin-top: 40px;
        position: fixed;
        width: 100%;
        z-index: 998;
    }.cook {
        width: 150px;
        height: 50px;
        color: #ffffff;
        align-self: top;
        align-items: top;
        margin-top: -50px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        background: #01491f;
        color: #ffffff;
        border-radius: 250px;

    }

    .contaner {
        display: contents;
        align-items: top;
    }

    .imag {
        width: 80px;
        height: 80px;
        margin: 0px;
        margin-left: -2px;
    }
    button{
        margin-right: 12px;
    }
}

@media screen and (max-width: 1355px) {
    .wave-fix {
        margin-top: 40px;
        position: fixed;
        width: 100%;
        z-index: 998;
    }
    .contaner {
        /* margin-left: 30px; */
        display: block;
        width: 180px;
        height: 60px;
        /* background: #4c00ff; */
        /* text-align: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-justify: center; */
        border-radius: 25px;

    }
    
    .txtss {
        
        color: #ffffff;
        margin-top: 20px;
        /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; */
        font-size: 30px;
        display: block;
        width: 180px;
        height: 60px;
        background: #00000057;
        cursor: pointer;
        /* text-align: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-justify: center; */
        border-radius: 25px;

        
    }

    .menu-icon {
        
        display: block;
        width: 140px;
        height: 60px;
        /* background: #f50000; */
        /* text-align: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-justify: center; */
        border-radius: 25px;
    }

    

    .navigation ul {
        display: none;

        align-items: center;
        align-self: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
        text-justify: center;
    }

    .navigation ul.show {
        display: block;
        position: fixed;
        align-items: center;
        align-self: center;
        justify-content: center;
        margin-left: 128px;
        margin-top: 10px;
        border-radius: 10px;
        background-color: #120020;
        height: auto;
        align-items: center;
        align-self: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
        text-justify: center;
    }

    .navigation {
        width: 100%;
        align-items: center;
        align-self: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
        text-justify: center;
    }

    .sesion {
        align-items: right;
        text-align: right;
        margin: 0px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        margin-top: 0px;
        align-items: center;
        align-self: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
        text-justify: center;
    }

    button {
        width: 150px;
        height: 40px;
        color: #ffffff;
        background-color: #5900ff67;
        border: 1px solid #a200ff;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 300;
        text-decoration: none;
        margin: 0;
        padding: 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;

    }

    .logo-nav-container {
        margin-top: 0px;
        height: 150px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        left: -128px;
        top: 74;
        width: 100%;
        padding-left: 50px;
        
    }

    .wave-fix {
        margin-top: 115px;
        position: fixed;
        width: 100%;
        z-index: 997;
    }

    .navigation ul {
        margin-top: 0px;
        padding: 0px;
        list-style: none;
        font-size: 14px;

    }

    .navigation ul li {
        display: block;
        z-index: 1000;
    }

    .imag {
        width: 80px;
        height: 80px;
        margin-top: 0px;
        margin-left: -10;
    }
}

@media screen and (max-width: 900px) {
    .wave-fix {
        margin-top: 118px;
        position: fixed;
        width: 100%;
        z-index: 998;
    }
    header {
        background-position: center;
    }

    .sesion a {
        margin-right: 10px;
    }

    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos {
        width: 90%;
        margin-bottom: 40px;
    }

    .icon {
        width: 90%;
        height: 90%;
    }

    .imagen-about-us {
        width: 90%;
    }

    .imagen-port {
        width: 44%;
    }

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        width: 90%;
    }

    .cards .card:first-child {
        margin-bottom: 30px;
    }

    .servicio-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicio-ind {
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1),
    .servicio-ind:nth-child(2) {
        margin-bottom: 60px;
    }

    .servicio-ind img {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    
    .wave-fix {
        margin-top: 118px;
        position: fixed;
        width: 100%;
        z-index: 998;
    }
    .sesion a {
        margin-right: 35px;
    }

    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav>a {
        margin-right: 5px;
    }

    .textos-header h1 {
        font-size: 35px;
    }

    .textos-header h2 {
        font-size: 20px;
    }

    .imagen-about-us {
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos {
        width: 95%;
    }

    /* galeria */
    .imagen-port {
        width: 40%;
    }

    /* clientes */
    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card .cards img {
        width: 90px;
        height: 90px;
    }

    /* footer */
    .contenedor-footer {
        flex-direction: column;
        border: none;
    }

    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4 {
        border-bottom: none;
    }

    .content-foo p {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final {
        font-size: 20px;
    }
}
@media screen and (max-width: 462px){
    .wave-fix {
        margin-top: 119px;
        position: fixed;
        width: 100%;
        z-index: 998;
        left: 0;
        right: 0;
    }
    .logo-nav-container {
        margin-top: 0px;
        height: 150px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        left: -128px;
        top: 74;
        width: 100%;
        padding-left: 1px;
        
    }
    button, img{
        margin-top: 20px;
        width: 100px;
        height: 50px;
        font-size: 20px;
    }
    .boton nav{
        font-size: 10px;
    }
    .contaner, .txt, .menu-icon{
        width: 100px;
        height: 50px;
        font-size: 20px;
        
    }
    .imag{
        width: 50px;
        height: 50px;
        margin-top: 20px;
    }
    .txtss{
        margin-left: -50px;
    }
    .logo-nav-container {
        margin-top: 0px;
        height: 150px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        left: -128px;
        top: 74;
        width: 100%;
        padding-left: 30px;
        
 
    }
    .sesion a {
        margin-right: 10px;
    }

    .contenedor-sobre-nosotros img{
        width: 80%;
        height: 100%;
    }
    .hover-galeria img {
        width: 150px;
        height: 150px;
    }
    .hover-galeria2 img {
        margin-top: 0px;
        width: 150px;
        height: 150px;
    }
    .portafolio img{
        margin-top: 0px;
    }
}
@media screen and (max-width: 462px){
    .wave-fix {
        margin-top: 118px;
        position: fixed;
        width: 100%;
        z-index: 998;
        left: 0;
        right: 0;
    }
}